<!--    Team© Webelistics®  Internet Application Development    -->
<!--     Gordon R. Mullen Jr  'Date: 2023/06/23'     -->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/src/images/TW_team-webelistics_TRANSPARENT-1.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/src/css/index.css">
    <script type="module" src="/dist/src/ts/index.js" content="text/javascript"></script>
    <title>Team© Webelistics® Internet App Dev</title>
</head>

<body>

    <header id="header" class="header">
        <div class="header__logo">
            <img class="bracket-logo" src="/src/images/TW_team-webelistics_TRANSPARENT.svg"
                alt="Team© Webelistics® Logo">
        </div>
        <div>
            <h1 class="headerH1-title">Team© Webelistics®</h1>
        </div>
        <div>
            <h2 class="headerH2-subtitle">TypeScript Basic Starter</h2>
        </div>

    </header>


</body>

</html>